body{
    padding: 0px;
    margin: 0;
    background: blue;
}
div{
    background-color: bisque;
}
:not(div){
    background: red;
}

li:nth-child(3){
    color: white;
    border: 2px solid white;
}
li:nth-child(4){
    color: white;
    border: 2px solid white;
}
p~ul{
    /* background-color: thistle; */
}
.circle{
    list-style-type: circle;
}
.square{
    list-style-type: square;
}
.uppper-roman{
    list-style-type: upper-roman;
}
.lower-alpha{
    list-style-type: lower-alpha;
}

.with-block{
    width: 33.3%;
}
table{
    width: 100%;
}
table, th, td{
    border:1px solid white;
    border-collapse: collapse;
}
th,td{
    width: 33.3%;
}
th{
    text-align: left;
}
td{
    text-align: right;
}
.name-cell{
    color: white;
}